@tailwind base;
@tailwind components;
@tailwind utilities;

.display-none{
    @apply hidden;
    }

    body{
        padding: 0;
        margin: 0;
    }

    html{
        scroll-behavior: smooth;
    }

    .active{
        background-image: linear-gradient(to left, red , purple);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        color: transparent;
    }

    @keyframes slide {
        0%{
            transform: translateX(-100%);
        }
        100%{
            transform: translateX(0);
        }
    }
    .bio{
        animation: slide 1.5s ease-in-out;
        
        
    }
